.maindiv {
  flex: 1;
  overflow-y: auto;
  background-color: transparent;
}
.video-title,.video-metadata{
  font-size: 14px;
}
.video-section {
  background-color: transparent;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem 1rem;
  padding: 3rem 0;
  margin: 0 1.5rem;
  border-top: 4px solid #ccc;
}

.video-container {
  display: flex;
  flex-direction: column;
}

.thumbnail {
  width: 275px;
  height: 155px;
  position: relative;
  display: flex;
}


.thumbnail::before {
  content: attr(data-duration);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  right: 5px;
  bottom: 5px;
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  font-size: 0.9rem;
  z-index: 9;
  transform: scale(.8);
  transition: .3s transform;
}
.thumbnail::after {
  content: " ";
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  border-radius: 0.3em;
  font-size: 0.9rem;
  transition: .3s background-color;
}
.thumbnail:hover:after{
  background-color: rgba(0, 0, 0, 0.52);
}
.thumbnail:hover:before{
  transform: scale(1);
}
.thumbnail-image {
  width: 100%;
  height: 100%;
  min-width: 250px;
  min-height: 150px;
  background-color: #aaa;
}
.video-bottom-section {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}
.channel-icon {
  margin-right: 0.75rem;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #aaa;
}
.video-details {
  display: flex;
  flex-direction: column;
}
.video-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: black;
}
.video-channel-name {
  margin-bottom: 0.1rem;
  text-decoration: none;
  transition: color 150ms;
}
.video-channel-name:hover {
  color: #111;
}
.video-channel-name,
.video-metadata {
  color: #555;
}
.video-section-title {
  grid-column: 1 / -1;
  margin: -0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}
.video-section-title-close {
  border: none;
  background: none;
  padding: 0;
  font-size: 2rem;
  color: #555;
  cursor: pointer;
}
.videos {
  background-color: transparent;
}
.categories {
  padding: 1rem 0rem;
}
.category-section {
  display: flex;
  overflow: hidden;
  overflow-x: auto;
  padding: 10px 0px;
}
.category-section::-webkit-scrollbar {
  display: none;
}
.category {
  margin-right: 1rem;
  word-wrap: none;
  white-space: nowrap;
  border: 1px solid #ccc;
  border-radius: 900px;
  background-color: #e7e7e7;
  padding: 0.5rem 1rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 150ms;
}
.category:hover {
  background-color: #ddd;
}
.category.active {
  background-color: #606060;
  color: white;
  border-color: #eee;
}
.category:first-child {
  margin-left: 30px;
}
.category:last-child {
  margin-right: 0;
}


@media(max-width:750px){
  .thumbnail {
    width: 100%;
    height: 255px;
  }
}
@media(max-width:560px){
  .videos{
    padding-bottom:2rem ;
  }
  .video-review{
    display: flex;
    align-items: center;
  }
  .video-metadata{
    margin-left: 10px;
  }
}