.sidebar {
  width: 240px;
  background: #fff;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }
}

.sidebar.side-trigger {
  width: 72px;
}
hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 0px;
}
.sidebar.sidebar.side-trigger:hover {
  overflow-y: hidden;
}

.sidebar.side-trigger li,
.sidebar.side-trigger #sidebar-content li,
.sidebar.side-trigger h4,
.sidebar.side-trigger div,
.sidebar.side-trigger hr,
.sidebar .left-icons {
  display: none;
}

.sidebar li.sub {
  border: none;
}

.sidebar.side-trigger #sidebar-content li.trigger {
  display: flex;
  flex-direction: column;
  padding: 16px 0px 14px;
  height: auto;
}
.sidebar.side-trigger #sidebar-content li.trigger .MuiSvgIcon-root {
  margin-right: 0px;
  margin-bottom: 6px;
}

.sidebar.side-trigger #sidebar-content li.trigger span {
  font-size: 10px;
}

#sidebar-content li,
.subscriptions li,
.more li {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 0 24px;
  height: 40px;
  color: #606060;
  font-weight: 500;
}

.sidebar ul li.active {
  background-color: #ccc6;
}
.sidebar ul li:hover {
  background-color: #ccc6;
  cursor: pointer;
}

.sidebar > ul > li > .MuiSvgIcon-root {
  margin-right: 24px;
  font-size: 20px;
}
.sidebar ul li.active .MuiSvgIcon-root {
  color: #f00;
}

.side-header {
  padding: 0 35px;
  font-size: 14px;
  text-transform: lowercase;
}

.sidebar .left-icons li {
  padding: 0 20px;
}

.sub-footer {
  padding: 5px 35px;
  font-size: 12px;
  text-align: left;
}

.sub-footer span {
  padding: 2px 3px;
  font-size: 12px;
}
.footer {
  padding: 5px 35px;
  font-size: 12px;
  font-weight: 400;
}
@media(max-width:850px){
  .sidebar{
    width: 180px;
  }
}
@media (max-width: 750px) {
  .sidebar {
    padding: 10px 0px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 999;
    width: 100%;
  }
  .sidebar li,
  .sidebar #sidebar-content li,
  .sidebar h4,
  .sidebar div,
  .sidebar hr {
    display: none;
  }
  .sidebar #sidebar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sidebar #sidebar-content li.trigger {
    display: flex;
    flex-direction: column;
    height: 48px;
  }
  .sidebar ul li.active {
    background-color: transparent;
  }
  .sidebar #sidebar-content li.trigger .MuiSvgIcon-root {
    margin-right: 0px;
    margin-bottom: 6px;
    font-size: 22px;
  }
}

