.sidebar {
  width: 255px;
  background: #fff;
  overflow-y: auto;
}
.sidebar.side-trigger {
  width: 100px;
}
hr{
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 0px;
}
.trigger{
  padding: 0px 24px;
}

.sidebar.sidebar.side-trigger:hover {
  overflow-y: hidden;
}

.sidebar.side-trigger li,
.sidebar.side-trigger #sidebar-content li,
.sidebar.side-trigger h4,
.sidebar.side-trigger div,
.sidebar.side-trigger hr,
.sidebar .left-icons {
  display: none;
}

.sidebar.side-trigger li.sub {
  border: none;
}

.sidebar.side-trigger #sidebar-content li.trigger {
  display: flex;
  flex-direction: column;
}

.sidebar.side-trigger #sidebar-content li.trigger span {
  font-size: 10px;
}

.sidebar.side-trigger #sidebar-content li.trigger > svg {
  height: auto !important;
}

.sidebar.mobile {
  height: 100vh;
  overflow-y: scroll;
  transform: translateX(0);
}

#navbtn_mobile {
  padding: 18px 22px 0 20px;
}
.sidebar.mobile .left-icons {
  padding: 0 20px;
  font-size: var(--font-size);
}
.sidebar.mobile #logo {
  padding: 10px 0 10px 11px;
}

.sidebar.mobile #logo span {
  padding: 0;
}

.sub {
  border-bottom: 1px solid #ccc3;
}
.sidebar:hover {
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}
.sidebar::-webkit-scrollbar-track {
  background: #ffffff;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
.sidebar:hover.sidebar::-webkit-scrollbar-thumb {
  background: #888;
}


#sidebar-content li,
.subscriptions li,
.more li {
  display: flex;
  align-items: center;
  padding: 10px 35px;
  font-size: 14px;
}



#sidebar-content li i,
.subscriptions li i,
.more li i {
  font-size: var(--font-size);
  width: 30px;
  text-align: center;
}

.sidebar ul li span {
  padding: 0 20px;
}

.sidebar ul li.active {
  background-color: #ccc6;
}
.sidebar ul li.active i {
  color: #f00;
}

.side-header {
  padding: 0 35px;
  font-size: 14px;
  text-transform: uppercase;
}

.sidebar .left-icons li {
  padding: 0 20px;
}

.sub-footer {
  padding: 5px 35px;
  font-size: 12px;
  text-align: left;
}

.sub-footer span {
  padding: 2px 3px;
  font-size: 12px;
}
.footer {
  padding: 5px 35px;
  font-size: 12px;
  font-weight: 400;
}

